ASTRBOT_DATA_DIR=/root/astrbot/data
ASTRBOT_IMAGE=soulter/astrbot@sha256:bcb9146a8b87365f138f85bdf7eca4cc87f872a47e2246fa797920fb597335b5
ASTRBOT_WEB_PROXY=http://192.168.16.1:17890
MUZ_LLM_PRIMARY_KEY=
MUZ_LLM_SECONDARY_KEY=
MUZ_LLM_TERTIARY_KEY=
